
{{!-- <h1>Task Manager</h1> --}}
<div class="formcontainer">
    <form action="/task-manager/task" id="form" method="post">
    <h1>Task Manager</h1>
    <label for="task">Task</label>
    <input type="text" name="task" id="task">
    <button type="submit">Add Task</button>
    </form>
</div>


<h3>List of Task</h3>
<div class="container">
    <table>
<tr>
    <th>TaskName</th>
    <th>UpdateTask</th>
    <th>DeleteTask</th>
</tr>
{{#each tasks}}
<tr>
    <td>{{task}}</td>
    <td> <a href="/task-manager/task/{{_id}}"> <i class="fa-solid fa-pen-to-square"></i></a></td>

    <td>
  <form  action="/task-manager/task/{{_id}}?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
  {{!-- <i class="fa-solid fa-trash"></i> --}}
</form>
</td>
</tr>
{{/each}}
</table>
</div>